* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

.centratura{
  text-align: center;
}

.container{
  width: 60%;
  margin: 50px auto;
}

.contenitore-designed{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenitore-designed .img-dimensione img {
  display: none;
  max-height: 900px;
  max-width: 900px;
  min-height: 600px;
  min-width: 600px;
}

.contenitore-designed .img-dimensione img.active {
  display: inline-block;
}

.contenitore-designed i{
  font-size: 60px;
  color: rgba(0, 29, 68, 1);
}

.prev, .next {
  cursor: pointer;
}

.cerchi li{
  margin-top: 20px;
  display:inline-block;
}

.circle {
  border: 2px solid blue;
  width: 20px;
  border-radius: 50%;
  padding: 8px;
  color: white;
}

.cerchi li.activeCic{
  background-color: blue;
}
